.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table-icon{
  width: 60px;
}
.table-icon-league{
  width: 60px;
}
.home-icon{
  width: 200px;
}
.center {
  margin: auto;
  width: 20%;
  padding: 10px;
}
.center-buttons {
  margin: auto;
  width: 32%;
  padding: 15px;
}
.float-container {
    margin: auto;
    padding: 20px;
    margin-left: 7%;
}

.float-child {
    width: 33%;
    float: left;
    padding: 10px;
}
* {font-family: sans-serif}

.player-table-icon{
  width: 20px;
}
.blue-button{
     background: linear-gradient(to right,#2e5178 0,#448bc4 71%,#386a9c 100%);
     color: whitesmoke;
}
.blue-tr{
     background: linear-gradient(to right,#2e5178 0,#448bc4 71%,#386a9c 100%);
     color: whitesmoke;
}
.blue-tr-head{
     background: linear-gradient(to left,#2e5178 0,#448bc4 71%,#386a9c 100%);
     color: whitesmoke;
}